body {
    background-color: grey;
}
#container {
    width:100%;
    min-height: 100%;
    background-color: #aaa;
}

#container #scrape {
    float:left;
    width: 20%;
    background-color: #ccc;
}

#container #list {
    float:left;
    width: 46%;
    background-color: #bbb;
}
#container #list_images {
    float:left;
    width: 33%;
    background-color: #bbb;
}